{% extends template_base %}

{% load static %}

{% block title %}Publicaciones{% endblock  %}

{% block content %}
 
<h2 align="center">Categoria: {{category}}</h2>

{% for noticia in publicaciones %} <!--busqueda inversa: obtengo todas las instancias del modelo relacionado con el primer modelo-->

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-innerv text-center rounded">
            {% if request.user.is_administrador or request.user.is_superusuario %}
            <br><br><br><br>
            {% endif %}
            <h2 class="section-heading mb-5">
              <!--<span class="section-heading-upper">{{post.published|date:"SHORT_DATE_FORMAT"}}</span>  Aqui con date:"SHORT_DATE_FORMAT lo que hacemos es formatear la fecha"-->
              <span class="section-heading-lower">{{noticia.titulo}}</span>
            </h2>
            
            <p class="mb-0">
              <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src={{noticia.Image.url}} alt="">
            </p>
            <br>
            <br>
            <div class="text-justify">
            <p class="mb-0 mbt">
              {{noticia.descripcion|striptags|safe|linebreaks|truncatechars:'500'}}  <!--Por defecto django ignora los saltos de linea, para que los tenga en cuenta se utilizar el tag linebreaks-->
            </p>
            </div>
              <p><a href="{% url 'noticefull' noticia.id noticia.titulo|slugify %}" >Leer más</a>
            <p class="mb-0 mbt">
              <!--<a href="#" class="link">General</a>, <a href="#" class="link">Ofertas</a></em>-->
                <em>
                  {% for category in noticia.categorias.all %}
                    <a href="{% url 'categoria' category.id %}" class="link">{{category.nombre}}</a>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                </em>
            </span>
            </p>
            Publicado: {{noticia.created}}
          </div>

        </div>
      </div>
    </div>
  </section>

{% endfor %}

</br>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if publicaciones.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ publicaciones.previous_page_number }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      <li class="page-item {% if publicaciones.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}
    {% if publicaciones.has_next %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ publicaciones.next_page_number }}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}



