{% extends template_base %}

{% load static %}

{% block title %}Publicaciones{% endblock %}

{% block content %}

<script>

window.onload=listcategory;
function listcategory() {
  var select_category= document.getElementById("category");
  var select_tipo = document.getElementById("tipo");
  /*while (select_ciudad.firstChild) {
      select_ciudad.removeChild(select_ciudad.firstChild);
  }*/
  var email = document.getElementById("email");
   email= country = encodeURIComponent(email.value);
    const url = "{% url 'categories' %}" + "?email="+email + "&type="+ encodeURIComponent(select_tipo.value);
    fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
        var i=0;
        var categoria='';
        for (i=0; i< data['categorias'].length; i++){
          categoria= data['categorias'][i];
          categoria_option = document.createElement('OPTION');
          categoria_option.value=categoria;
          categoria_option.text= categoria;
          select_category.appendChild(categoria_option);
        }
    })
  }
</script>

{% if request.user.is_administrador %}

<!DOCTYPE html>
<html lang="es">
<body>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-innerv text-center rounded">
          <br><br><br><br>
          <input type="hidden" id="email" value={{request.user.email}}>
          <input type="hidden" id="tipo" value={{request.user.is_superuser}}>
            <form method="GET" action="/publicaciones/">
            <div class="grid-container" style="display:inline-grid; grid-template-columns: auto auto auto;">
            <input type="text" name="title" style="grid-column: 1 / 4" placeholder="Buscar por titulo" class="form-control mt-1">
            <input type="text" name="description" style="grid-column: 5 / 8" placeholder="Buscar por descripcion" class="form-control mt-1">
            <select name="category" id="category" class="form-control mt-1">
              <option value="">Buscar por Categoria</option>
            </select>
            <input type="submit" class="btn btn-primary btn-block mt-1" style="grid-column: 9 / 12" value="Buscar">

            </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
</body>
</html>
{% endif %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <body>               
      <section class="page-section cta">      
        <div class="container">          
          <div class="row">                          
            <div class="col-xl-10 mx-auto">
            {% for publicacion in publicaciones %}                
              <div style="padding: 10px; float: left; width: 50%; text-align: justify;">                 
                <div class="cta-innerv text-center rounded">                  
                  <h2 class="section-heading mb-5">
                    <span class="section-heading-lower" style="font-size: 60%" >{{publicacion.titulo}}</span>
                  </h2>
                  <p class="mb-0">
                    <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src={{publicacion.Image.url}} alt="" style="width: 400px; height: 280px" >                   
                  </p>
                  <br>
                  <div class="text-justify">
                  <p class="mb-0 mbt">
                    {{publicacion.descripcion|striptags|safe|linebreaks|truncatechars:'250'}}  <!--Por defecto django ignora los saltos de linea, para que los tenga en cuenta se utilizar el tag linebreaks-->
                  </p>
                  </div>
                  <p><a href="{% url 'noticefull' publicacion.id publicacion.titulo|slugify %}">Leer más</a>
                  </p>
                  <p class="mb-0 mbt">
                    <!--<span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em> en -->
                    <!--<a href="#" class="link">General</a>, <a href="#" class="link">Ofertas</a></em>-->
                      <em>
                        {% for categoria in publicacion.categorias.all %}
                          <a href="{% url 'categoria' categoria.id %}" class="link">{{categoria.nombre}}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      </em>
                  </p>
                  Publicado: {{publicacion.created}}
                  <p>
                  {% if request.user.is_administrador %}
                  <a href="{% url 'update' publicacion.id %}">Editar</a>
                  |<a href="{% url 'delete' publicacion.id %}">Borrar</a>
                  {% endif %}
                  </p>
                </div>              
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </body>
  </head>
</html>

</br>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if publicaciones.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ publicaciones.previous_page_number }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      <li class="page-item {% if publicaciones.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}
    {% if publicaciones.has_next %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ publicaciones.next_page_number }}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}


