{% extends "app_core/index.html" %}

{% load static %}

{% block title %}Publicaciones{% endblock  %}

{% block content %}

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-innerv text-center rounded">
          <h2 class="section-heading mb-5">
            <!--<span class="section-heading-upper">{{post.published|date:"SHORT_DATE_FORMAT"}}</span>  -Aqui con date:"SHORT_DATE_FORMAT lo que hacemos es formatear la fecha"-->
            <span class="section-heading-lower">{{noticia.titulo}}</span>
          </h2>
          <p class="mb-0">
            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src={{noticia.Image.url}} alt="">
          </p>
          <p class="mb-0 mbt">
            {{noticia.descripcion|striptags|safe|linebreaks}}  <!--Por defecto django ignora los saltos de linea, para que los tenga en cuenta se utilizar el tag linebreaks-->
          </p>
          <p class="mb-0 mbt">
              <em>
                  {% for category in noticia.categorias.all %}
                    <a href="{% url 'categoria' category.id %}" class="link">{{category.nombre}}</a>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                </em>
            <!--<span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em> en -->
            <!--<a href="#" class="link">General</a>, <a href="#" class="link">Ofertas</a></em>-->
          </p>
          {% if request.user.is_administrador %}
            <p><a href="{% url 'update' noticia.id %}">Editar</a>
            |<a href="{% url 'delete' noticia.id %}">Borrar</a></p>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock content %}