{% extends "admin/base.html" %}
{% load static i18n %}

{% block title %}Observatorio UTP | Administración{% endblock %}

{% block extrastyle %}
<style>
	#header {background: #4c2b1d;}
	table caption {background: : #4c2b1d;}
</style>

{% endblock %}

{% block branding %}
{% if request.user.is_superusuario %}
<h1 id="site-name">
	<a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% elif request.user.is_administrador%}
<h1 id="site-name">
	<a href="{% url 'admin_site:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
	{% if site_url %}
	<a href="{{ site_url }}">{% trans 'View site' %}</a> /
	{% endif %}
	{% if user.is_active and user.is_staff %}
	    {% url 'django-admindocs-docroot' as docsroot %}
	    {% if docsroot %}
	        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
	    {% endif %}
	{% endif %}
	{% if request.user.is_administrador %}
	<a href="{% url 'perfil_admin' %}">Perfil</a>
	{% endif %}
	{% if user.has_usable_password %}
	{% if request.user.is_superusuario %}
		<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
	{% elif request.user.is_administrador %}
		<a href="{% url 'admin_site:password_change' %}">{% trans 'Change password' %}</a> /	
	{% endif %}	
	{% endif %}
	{% if request.user.is_superusuario %}
		<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
	{% elif request.user.is_administrador %}
		<a href="{% url 'admin_site:logout' %}">{% trans 'Log out' %}</a>
	{% endif %}	
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin_site:index' %}">{% trans 'Home' %}</a>
{% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}
