{%  load static %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<head>

<link rel="stylesheet" href="{% static 'app_core/css/404.css' %}">
<!--
<script type="text/javascript" href="{% static 'app_core/js/404.js' %}"></script>
-->
<script>
window.onload=interval;

var t;
function interval(){
    t=1;
    setInterval(function(){
        if (t<=404){
            document.getElementById("count").innerHTML=t++;
        }

    },15,"JavaScript");
}

</script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div id ="count" class="number" data-count="404"></div>
                <div class="text">Oops!</div>
                <div class="text">Pagina no encontrada</div>
                <div class="text">Lo sentimos, ha ocurrido un error, ¡No se encontró la página solicitada!</div>
            </div>
        </div>
    </div>
</div>
</body>
