{% extends 'app_core/principal.html' %}
{% load static %}
{% block title %}Cambiar contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">
          {% csrf_token %}
          <h3 class="mb-4">Cambiar contraseña</h3>
          {{form.as_p}}
          {% if 'nofound' in request.GET %}
          <p class="errorlist">Su contraseña antigua es incorrecta. Por favor, vuelva a introducirla.</p>
          {% elif 'nomatch' in request.GET %}
          <p class="errorlist">Los dos campos de contraseña no coinciden.</p>
          {% endif %}
          <p><input type="submit" class="btn btn-primary btn-block" value="Actualizar"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}