<!DOCTYPE html>
<html>
{% extends 'app_core/principal.html' %}
{% load static %}
{% block title %}Intereses{% endblock %}
{% block content %}
<main role="main">
  <div class="container" id="InteresesForm">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="POST">{% csrf_token %}
          <h3 class="mb-4">Selecciona tus intereses</h3>
          <div class="form-group">
                    <label for="Interes">Interes:</label>
                    {{form.Interes}}

                </div>
          <p><input type="submit" class="btn btn-primary btn-block" value="Actualizar"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
</html>